extends layout

block content
  p(class='homePageParagraph') the langston wedding
  p(class='homePageParagraph') 10.1.2016 miles city montana
  p(class='homePageParagraph') #[a(href="/rsvp") rsvp] 
  a(href="/rsvp")
    img(src="/images/main_couple_image.png")
